.git
.gitignore
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.coverage
htmlcov/
mlartifacts/
mlruns/
mlflow.db
artifacts/
notebooks/
.dvc/
.dvcignore
dvc.lock
tests/
