.git
.gitignore
.venv
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.coverage
htmlcov/
mlartifacts/
mlruns/
mlflow.db
artifacts/
notebooks/
.dvc/cache/
.dvc/tmp/
.dvc/config.local
.dvc-storage/
data/raw/
data/processed/
data/features/
tests/
