RANDOM_SEED=42
DATA_DIR=data
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=movie-lens-recommender
MLFLOW_MODEL_NAME=movie-lens-pytorch-recommender
MLFLOW_MODEL_STAGE=Production
MLFLOW_MODEL_ALIAS=production
